body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1170px;
    padding: 0;
}

.upper-container {
    /* max-height: 100vh; */
    margin-top: 30px;
}

.lower-container {
    background-color: #f7931e;
    height: 100vh;
}

.header {
    text-align: left;
}

.character-title {
    color: #0071bc;
    font-weight: bold;
}

.character-acknowlegde {
    color: #0071bc;
    font-weight: normal;
}

.character-description {
    color: #4d4d4d;
}

.character-release-notice {
    color: #ed1e79;
    font-weight: bold;
}

.register-button {
    color: #fff;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #93278f;
}

.button-position {
    text-align: left;
 }

.hero-image img {
    margin-top: 5%;
    width: 100%
}

/* .hero-image {
    background-image: url("/assets/img/vinyl-nickelodeon-nick-90s-blind-box-mini-series-5_2048x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
} */

.collection-of-toys {
    padding: 0;
    text-align: center;
}

#mooshai-logo {
    width: 40%;
}

#mc_embed_signup {
    max-width: 400px;
    margin: 0 auto;
    background-color: silver;
    padding: 30px;
    margin-top: 10%;
    padding: 30px;
    text-align: center;
    background-color: ghostwhite;
    border-radius: 10px;
}

#mc_embed_signup h2 {
    margin: 0;
    color: #ed1e79;
    font-weight: bold;
}

#mc_embed_signup p {
    margin-top: 20px;
}

#mc_embed_signup input {
    width: 100%;
    margin: 15px 0;
    height: 40px;
}

#mc_embed_signup input::placeholder {
    color: #00944f;
    padding-left: 10px;
}

#mc_embed_signup .button {
    background-color: #0070bd;
    color: #fff;
    border: none;
    border-radius: 30px;
}

#mce-error-response {
    background-color: #ed1e79;
}

@media (max-width: 992px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .header {
        text-align: center;
    }

    #mooshai-logo {
        width: 60%;
    }

    .character-release-notice {
        text-align: center;
    }

    .button-position {
       text-align: center;
    }
}

@media (max-width: 400px) {
    #mooshai-logo {
        width: 100%;
    }
}
